/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary-soft-orange: hsl(35, 77%, 62%);
  --clr-primary-soft-red: hsl(5, 85%, 63%);

  --clr-neutral-off-white: hsl(36, 100%, 99%);
  --clr-neutral-grayish-blue: hsl(233, 8%, 79%);
  --clr-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-neutral-very-dark-blue: hsl(240, 100%, 5%);

  --fs-body: 15px;

  --ff-primary: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

body {
  font-family: var(--ff-primary);

  li {
    list-style: none;
    text-decoration: none;
  }

  .sidebar {
    position: fixed;
    z-index: 1;
    transition: 0.3s ease-in;
    transform: translateX(100%);
    height: 100vh;
    width: 70vw;
    overflow: hidden;
    right: 0;
    background-color: var(--clr-neutral-off-white);

    .sidebar-close {
      position: absolute;
      right: 0;
      top: 1.5em;
      right: 1.2em;
    }

    .menu {
      display: flex;
      padding: 9em 0 0 1.5em;
      height: 100%;

      ul {
        li {
          padding-bottom: 1.5em;
          a {
            text-decoration: none;
            color: var(--clr-neutral-very-dark-blue);
          }
        }
      }
    }
  }

  .main-container {
    padding: 1em;

    @media (min-width: 1200px) {
      padding: 6em 10em;
      /* width: auto; */
      margin: auto;
    }

    /* @media (min-width: 1600px) {
      width: auto;
    } */

    /* NAVBAR MOBILE */
    .navbar-mobile {
      padding: 0.8em 0 1.5em 0;

      @media (min-width: 1200px) {
        display: none;
      }

      .logo-hamburger {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          img {
            width: 45px;
          }
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.35s, visibility 0.35s, height 0.35s;
      /* overflow: hidden; */
      background: black;
      z-index: 0;
    }

    /* NAVBAR DESKTOP */
    .navbar-desktop {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        padding-bottom: 3em;
      }

      @media (min-width: 1600px) {
        padding-bottom: 4em;
      }

      .logo-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 1600px) {
          img {
            width: 84px;
          }
        }

        ul {
          display: flex;

          li {
            padding-left: 2.6em;

            @media (min-width: 1600px) {
              padding-left: 4.3em;
            }

            a {
              text-decoration: none;
              color: var(--clr-neutral-dark-grayish-blue);

              @media (min-width: 1600px) {
                font-size: 20px;
              }

              &:hover {
                color: var(--clr-primary-soft-red);
              }
            }
          }
        }
      }
    }

    /* SHOWCASE */
    .showcase {
      @media (min-width: 1200px) {
        display: flex;
        /* width: 1100px; */
      }

      @media (min-width: 1600px) {
        gap: 2.5em;
        margin-bottom: 2em;
      }

      .showcase-img-description {
        @media (min-width: 1200px) {
          width: 100%;
          /* width: 1000px; */
        }

        @media (min-width: 1600px) {
          width: 76%;
        }

        .showcase-img_mobile {
          img {
            width: 100%;

            @media (min-width: 1200px) {
              display: none;
            }
          }
        }

        .showcase-img_desktop {
          display: none;

          @media (min-width: 1200px) {
            display: block;
          }

          img {
            @media (min-width: 1200px) {
              width: 100%;
            }
          }
        }

        .showcase-description {
          padding: 1em 0 2em;

          @media (min-width: 1200px) {
            display: flex;
            padding: 2em 0 0.6em;
          }

          h1 {
            font-size: 38px;
            line-height: 1;
            font-weight: var(--fw-extra-bold);

            @media (min-width: 1200px) {
              width: 50%;
              font-size: 53px;
            }

            @media (min-width: 1600px) {
              font-size: 80px;
            }
          }
        }

        .par-btn {
          @media (min-width: 1200px) {
            width: 50%;
            padding-left: 1em;
          }

          @media (min-width: 1600px) {
            width: 50%;
            padding-left: 1em;
          }

          p {
            padding: 1.5em 0;
            color: var(--clr-neutral-dark-grayish-blue);
            line-height: 1.5;
            font-size: var(--fs-body);

            @media (min-width: 1200px) {
              padding: 0 0 2em 0;
              /* padding: 0 0.6em 2em 0; */
              font-size: var(--fs-body);
            }

            @media (min-width: 1600px) {
              font-size: 20px;
            }
          }

          button {
            border: none;
            background-color: var(--clr-primary-soft-red);
            color: var(--clr-neutral-off-white);
            padding: 1.2em 2.5em;
            text-transform: uppercase;
            font-family: var(--ff-primary);
            font-weight: var(--fw-bold);
            letter-spacing: 3px;
            cursor: pointer;

            @media (min-width: 1200px) {
              letter-spacing: 5px;
              position: relative;
              top: 0.5em;
              padding: 1em 2em;
              font-size: var(--fs-body);

              @media (min-width: 1600px) {
                font-size: 20px;
              }

              &:hover {
                background-color: var(--clr-neutral-very-dark-blue);
                transition: 0.1s ease-in;
              }
            }
          }
        }
      }

      /* NEWS */
      .news {
        background-color: var(--clr-neutral-very-dark-blue);
        margin-top: 2em;
        padding: 1.5em 1.2em;

        @media (min-width: 1200px) {
          margin-left: 2em;
          padding: 1.5em 1.5em;
          width: 47%;
          margin-top: 0;
          /* width: 400px; */
        }

        @media (min-width: 1600px) {
          margin-left: 0;
          margin-top: 0;
          padding: 1.5em 2em;
          width: 615px;
        }

        h1 {
          color: var(--clr-primary-soft-orange);
          padding-bottom: 1em;
          font-size: 30px;

          @media (min-width: 1200px) {
            font-size: 40px;
          }

          @media (min-width: 1600px) {
            font-size: 50px;
          }
        }

        .info {
          h3 {
            color: var(--clr-neutral-off-white);
            font-size: 20px;
            cursor: pointer;

            @media (min-width: 1200px) {
              &:hover {
                color: var(--clr-primary-soft-orange);
                transition: 0.1s ease-in;
              }
            }

            @media (min-width: 1600px) {
              font-size: 25px;
            }
          }

          p {
            color: var(--clr-neutral-grayish-blue);
            padding: 0.6em 0.4em 0 0;
            font-size: var(--fs-body);
            line-height: 1.6;

            @media (min-width: 1600px) {
              font-size: 20px;
            }
          }

          &:nth-of-type(1)::after,
          &:nth-of-type(2)::after {
            content: "";
            display: flex;
            border: 1px solid var(--clr-neutral-grayish-blue);
            opacity: 0.25;
            margin: 1.8em 0;

            @media (min-width: 1600px) {
              margin: 2.5em 0;
            }
          }
        }
      }
    }

    /* TOP NEWS SECTION */
    .top-news {
      padding: 4em 0 2em;

      @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
      }

      .article {
        display: flex;
        padding-bottom: 2em;
        margin-right: 0.5em;

        @media (min-width: 1200px) {
          width: 353px;
          margin-right: 0;
        }

        @media (min-width: 1600px) {
          width: 528px;
          margin-right: 0;
        }

        img {
          width: 90px;

          /* @media (min-width: 1200px) {
            width: 90px;
          } */

          @media (min-width: 1600px) {
            width: 135px;
          }
        }

        .article-1-txt,
        .article-2-txt,
        .article-3-txt {
          padding-left: 1.5em;

          @media (min-width: 1200px) {
            /* padding-left: 1.5em; */
          }

          @media (min-width: 1600px) {
            /* padding-left: 1.5em; */
          }

          h1 {
            color: var(--clr-neutral-grayish-blue);
            font-size: 30px;
            font-weight: var(--fw-bold);

            @media (min-width: 1600px) {
              font-size: 45px;
            }
          }

          h4 {
            font-weight: var(--fw-extra-bold);
            font-size: 18px;
            padding: 0.5em 0;
            cursor: pointer;

            @media (min-width: 1200px) {
              &:hover {
                color: var(--clr-primary-soft-red);
                transition: 0.1s ease-in;
              }
            }

            @media (min-width: 1600px) {
              font-size: 23px;
            }
          }

          p {
            color: var(--clr-neutral-dark-grayish-blue);
            font-size: var(--fs-body);
            line-height: 1.5;

            @media (min-width: 1200px) {
              padding-right: 2em;
            }

            @media (min-width: 1600px) {
              padding-right: 3em;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
